.btn-main{
    height: 50px;
    padding: 16px 170px;
    background: #0C4533;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: opacity 0.2s ease-in;
}
.btn-main:hover{
    background: rgb(91, 91, 227);
}
.btn-main:active{
    position: relative;
    top: 1px;
}